<gdev-list-crud
listName="Slides"
[selectTemplate]="select"
[addTemplate]="add"
[selectTemplate]="select"
[height_vh]="90"
(onAdd)="onAddSlide()"
(onSave)="onUpdateSlide()"
[List]="slides"
itemSelector="nombre"
mxStrechHeight
>
    <ng-template #select let-slide="item" >
      <g-admin-slide (changes)="onChanges($event)" [slide]="slide"></g-admin-slide>
      </ng-template>

      <ng-template #add>
        <g-admin-slide (changes)="onChanges($event)"></g-admin-slide>
    </ng-template>

</gdev-list-crud>
