<div class="container full-width" >
  <div class="row" >
    <div class="col l5 center" id="form" >
      <h1 class="center">Bienvenido Afiliado</h1>
      <gdev-login-card
      signInTitle="Inicia sesión como Afiliado"
      passwordLabel="Contraseña"
      forgotPasswordLabel=""
      signInButton="Iniciar"
      (onSubmit)="onSubmit($event)"
      ></gdev-login-card>
      <p class="center">
        ¿Aún no estás registrado?
      </p>
      <button mat-raised-button color='accent'
      [routerLink]="['/afiliados/registro']"
      >Registrarse</button>
    </div>
    <div class="col l7" id="login-image" fixScroll [topBreak]="76" [bottomBreak]="686" [position]="'absolute'" >
    </div>
  </div>
</div>
