.header-image {
  background-size: cover !important;
}

.afiliado-card {
  cursor: pointer;
  ::ng-deep {
    mat-card-header {
      flex-direction: row-reverse;
      justify-content: flex-end;
      margin-bottom: 1em;
      .mat-card-avatar.initial {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #bf9597;
        font-weight: 900;
        color: #906667;
      }
      .mat-card-header-text {
        display: flex;
        align-items: center;
        .mat-card-title {
          margin-bottom: 0;
          font-size: 30px;
          font-weight: 300;
        }
      }
    }
  }
}


mat-card {
  width: 100%;
}
