.container {
  max-width: 66.66%;
}


.proyect-item {
  mat-expansion-panel-header{
    @media screen and (max-width: 768px){
      padding: 0 10px;
    }
  }
  ::ng-deep {
    @media screen and (max-width: 768px){
      .mat-card-header-text {
        margin: 0 16px;
        width: 100%;
      }
    }
    .proyecto-content{
      font-size: small;
      p {
        margin: 0
      }
    }

  }
}

.proyect-gallery {
  // max-height: 414px;
  overflow: auto;
  mat-grid-list {
    cursor: pointer;
    img {
      width: 100%;
    }
  }
}
