<ng-container *ngIf="(items$ | async) as items; else empty" >
  <div class="row">
    <div class="col s12">
      <mat-accordion #expPanel="matAccordion"
      displayMode="flat" *ngIf="items.length > 0; else empty" >
        <div class="proyect-item"
        *ngFor="let item of items; index as i">
        <mat-expansion-panel [hideToggle]="responsive.large || responsive.xLarge" class="mat-elevation-z0" *ngIf="i != editingItem">
          <mat-expansion-panel-header>
            <mat-panel-title><b>{{item.nombre}}</b></mat-panel-title>
            <mat-panel-description>Cliente: <span class="data-text">{{item.cliente}}</span> </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-card-content class="proyecto-content">
            <div class="row">
              <div class="col s12 m5">
                <p>Fecha del proyecto:<span class="data-text"> {{item.fecha}} </span> </p>
                <p>Monto contratado:<span class="data-text"> {{item.monto}} </span> </p>
                <p>Sector:<span class="data-text"> {{item.sector}} </span> </p>
                <p><b>Ubicado en:</b></p>
                <p> {{item.ubicacion.calle}} {{item.ubicacion.num_ext}} {{item.ubicacion.num_int}} </p>
                <p> {{item.ubicacion.colonia}} {{item.ubicacion.codigo_postal}} </p>
                <p> {{item.ubicacion.municipio_alcaldia}}, {{item.ubicacion.entidad_federativa}} </p>
              </div>
              <div class="col s12 m7 proyect-gallery">
                <mat-grid-list cols="1" rowHeight="4:3">
                  <mat-grid-tile *ngFor="let file of item.evidencia">
                    <g-file-viewer [file]="file"></g-file-viewer>
                  </mat-grid-tile>
                </mat-grid-list>
              </div>
            </div>

          </mat-card-content>

          <mat-action-row *ngIf="edit">
            <button mat-raised-button color='secondary'
            (click)="sendToEdit(item, i)" >Editar</button>
            <button mat-raised-button color='primary'
            (click)="perfil_.deleteInfoItem( 'experiencia', item.id)" >Eliminar</button>
          </mat-action-row>
        </mat-expansion-panel>
        </div>

      </mat-accordion>
    </div>

  </div>

  </ng-container>

<ng-template #empty >
  <p class="data-text">Aún no hay experiecia registrada</p>
</ng-template>
