
<ng-container *ngIf="(items$ | async) as items; else empty" >
  <div class="row" *ngIf="items.length > 0; else empty">
    <div class="col s12">
        <div class="proyect-item"
        *ngFor="let item of items; index as i">
        <mat-card  *ngIf="i != editingItem">
          <mat-card-header>
            <mat-card-title><b>{{item.nombre}}</b></mat-card-title>
            <mat-card-subtitle>Cliente: <span class="data-text">{{item.cliente}}</span> </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content class="proyecto-content">
            <div class="row">
              <div class="col s12 m5">
                <p>Fecha del proyecto:<span class="data-text"> {{item.fecha}} </span> </p>
                <p>Monto contratado:<span class="data-text"> {{item.monto}} </span> </p>
                <p>Sector:<span class="data-text"> {{item.sector}} </span> </p>
                <p><b>Ubicado en:</b></p>
                <p> {{item.ubicacion.calle}} {{item.ubicacion.num_ext}} {{item.ubicacion.num_int}} </p>
                <p> {{item.ubicacion.colonia}} {{item.ubicacion.codigo_postal}} </p>
                <p> {{item.ubicacion.municipio_alcaldia}}, {{item.ubicacion.entidad_federativa}} </p>
              </div>
              <div class="col s12 m7 proyect-gallery">
                <mat-grid-list cols="1" rowHeight="4:3">
                  <mat-grid-tile *ngFor="let file of item.evidencia">
                    <g-file-viewer [file]="file"></g-file-viewer>
                  </mat-grid-tile>
                </mat-grid-list>
              </div>
            </div>

          </mat-card-content>

          <mat-card-actions *ngIf="edit">
            <button mat-raised-button color='primary'
            (click)="sendToEdit(item, i)" >Editar</button>
            <button mat-raised-button color='primary'
            (click)="perfil_.deleteInfoItem( 'experiencia', item.id)" >Eliminar</button>
          </mat-card-actions>
        </mat-card>
        </div>

    </div>

  </div>
</ng-container>


<ng-template #empty >
  <p class="data-text">Aún no hay experiecia registrada</p>
</ng-template>

<div class="row" *ngIf="!edit">
  <div class="col s12">
    <div *ngIf="listDoc">
      <p><b>Lista de proyectos</b></p>
      <g-file-viewer
      [file]="listDoc"
      ></g-file-viewer>
    </div>
  </div>
</div>
<!-- <div class="row">
  <div class="col s12">
    <mat-divider></mat-divider>
  </div>
</div> -->
