#add_item, #current_item {
    width: 100%;
}

mat-drawer-container {
    min-height: 90vh;
}

.header h4 {
  border-radius: 10px;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}
