<ng-container *ngIf="items$ |async as items; else empty">
  <div class="row">
    <div class="col s12" *ngIf="items.length > 0; else empty">
      <mat-card *ngFor="let item of items$ | async">
        <mat-card-header>
          <mat-card-title> {{item.nombre}} </mat-card-title>
          <mat-card-subtitle> {{item.cargo}} </mat-card-subtitle>
          <mat-chip-list>
            <mat-chip> {{item.contacto}} </mat-chip>
          </mat-chip-list>
        </mat-card-header>
      </mat-card>
    </div>
  </div>
</ng-container>
<ng-template #empty >
  <p class="data-text">Aún no se han registrado miembros</p>
</ng-template>
