<div class="container">
  <div class="row">
    <div class="col s12">

      <mat-card>
        <mat-card-header>
          <mat-card-title>Accesos</mat-card-title>
          <mat-card-subtitle>Maneja los accesos a la pltaforma. Envía invitaciones vía email a los diferentes perfiles del sitio</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
          <button mat-raised-button color="accent"
          (click)="openAddDialog()">Crear nuevo</button>
        </mat-card-actions>
      </mat-card>

    </div>
  </div>


  <div class="row">
    <div class="col s12">
      <mat-tab-group>
        <mat-tab label="Managers de Afiliados">
          <g-admin-managers-table></g-admin-managers-table>
        </mat-tab>
        <mat-tab label="Clientes">
          <g-admin-clientes-table></g-admin-clientes-table>
        </mat-tab>
        <mat-tab label="Administradores">
          <g-admins-table></g-admins-table>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
