<div class="row">
  <div class="col s12">

    <ngx-dropzone (change)="onSelect($event)" [attr.multiple]="options.multiple" [attr.maxFileSize]="options.maxFileSize ? options.maxFileSize : undefined" >
      <ngx-dropzone-label>{{options.dropzoneLabel}}</ngx-dropzone-label>
      <ngx-dropzone-preview
        *ngFor="let f of storage_.files"
        [removable]="true"
        (removed)="onRemove(f)"
      >
        <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
      </ngx-dropzone-preview>
    </ngx-dropzone>

  </div>
</div>

<div class="uploading-area" *ngIf="uploadingFiles && options.uploadStatus">
  <mat-progress-bar *ngIf="UploadedPercent"
    mode="determinate"
    [value]="UploadedPercent"
  ></mat-progress-bar>
</div>

<div class="row" *ngIf="options.uploadButton" >
  <div class="col s12 center">
    <button mat-raised-button color='primary'
    (click)="loadFiles()" >{{options.uploadButtonLabel}}</button>
  </div>
</div>
