<div class="container full-width" mxStrechHeight>
  <div class="row" >
    <div class="col l5 center" id="form" >
      <h1 class="center welcome"> <b>Bienvenido Administrador</b> </h1>
      <mx-login-card
      signInTitle="Inicia sesión como administrador"
      passwordLabel="Contraseña"
      forgotPasswordLabel=""
      signInButton="Iniciar"
      (onSubmit)="onSubmit($event)"
      ></mx-login-card>


    </div>
    <div class="col l7" id="login-image" mxFix [topBreak]="76"  >
    </div>
  </div>
</div>
