<article>
  <div class="profile-img-container" #container>
    <div class="profile-img" #img
    [ngStyle]="{'height.px':img.offsetWidth  }">
      <ng-container *ngIf="ImageSrc; else default">
        <img
          width="100%"
          [src]="ImageSrc"
          alt="{{afiliado.datos_generales.comercial_nombre}}"
          onerror="this.style.display='none'"
        />
      </ng-container>
    </div>
    <ng-template #default >
      <p class="center">
        {{afiliado.datos_generales.comercial_nombre}}
      </p>

    </ng-template>

    <!-- Upload Image Perfil -->
    <button mat-mini-fab class="upload-btn"
    color="primary"
    (click)="uploadProfileImage()">
      <i class="fas fa-upload"></i>
    </button>
  </div>

  <!-- LOGO -->
  <div
  class="logo-container">
  </div>

  <!-- BUSINESS DATA -->
  <h1 class="afiliado-name">{{ afiliado.datos_generales.comercial_nombre }}</h1>
  <ng-container *ngIf="afiliado.datos_generales.moral_nombre; else elseTemplate">
    <p>Persona Moral: <span class="data-text">
      {{afiliado.datos_generales.moral_nombre}}
    </span>
    </p>
  </ng-container>
  <ng-template #elseTemplate >
    <p>Persona Física: <span class="data-text">
      {{afiliado.datos_generales.fisica_nombre}}
      {{afiliado.datos_generales.fisica_apellido_pat}}
      {{afiliado.datos_generales.fisica_apellido_mat}}
    </span>
    </p>
  </ng-template>

  <!-- AFILIACION DATA -->
  <p>Representante: <span class="data-text">
    {{afiliado.representante_legal?.nombre}}
    {{afiliado.representante_legal?.apellido_pat}}
    {{afiliado.representante_legal?.apellido_mat}}
  </span> </p>
  <p>Afiliado CMIC: <span class="data-text"> {{year}} </span> </p>
  <p>Afiliado desde:
    <span class="data-text">{{afiliado.perfil?.primerAfiliacion}}</span>
  </p>
</article>



<article>
  <p class="article-header" >Ubicación</p>
  <p>
    {{ afiliado.domicilio?.publica?.calle }}
    {{ afiliado.domicilio?.publica?.num_ext }}
    <span *ngIf="afiliado.domicilio?.publica?.num_int">int.</span>
    {{ afiliado.domicilio?.publica?.num_int }}
  </p>
  <p>
    col. {{ afiliado.domicilio?.publica?.colonia }}
    C.P. {{ afiliado.domicilio?.publica?.codigo_postal }}
  </p>
  <p>{{ afiliado.domicilio?.publica?.municipio_alcaldia }}</p>
  <p>{{ afiliado.domicilio?.publica?.entidad_federativa }}</p>
</article>
<article>
  <p class="article-header">Contacto</p>
  <p>Tel.{{ afiliado.contacto?.telefono }}</p>
  <p>{{ afiliado.contacto?.email }}</p>
  <p>{{ afiliado.contacto?.pagina_web }}</p>
</article>
<article>
  <p class="article-header">Personal</p>
  <p>
    Planta fija de {{personal.planta_fija}} colaboradores, dentro de los cuales el {{Hombres}}% son hombres, y el {{Mujeres}}% son mujeres.
  </p>
  <!-- <p>
    Del total de colaboradores, el 25% cuentan con estudios de especialización o posgrado
  </p> -->
</article>

<article>
  <p class="article-header">Servicios</p>
  <p>
    <span *ngFor="let servicio of afiliado.perfil?.servicios">
      {{servicio}} <br>
    </span>
  </p>
</article>

<article>
  <p class="article-header">Extras</p>
  <p>Capacidad Financiera: <span class="data-text">
    {{afiliado.perfil?.capFinanciera}}
  </span></p>
</article>
