<mat-drawer-container mxStrechHeight>

  <mat-drawer mode="over" position="end" #clientePanel="matDrawer">
    <g-admin-see-client *ngIf="clientSelected"
    [cliente]="clientSelected"
    (closePanel)="onClosePanel()"></g-admin-see-client>
  </mat-drawer>

  <mat-drawer-content>
    <div class="container">
      <div class="row">
        <div class="col s12">
          <mat-card>
            <mat-card-header>
              <mat-card-title>Lista de clientes</mat-card-title>
              <mat-card-subtitle>subtitle</mat-card-subtitle>
            </mat-card-header>

            <mat-card-actions>
              <button mat-button color="accent"
              (click)="onDownload()"
              >Descargar lista completa</button>
            </mat-card-actions>
          </mat-card>

          <h2>Clientes</h2>

          <mat-card>
            <mat-card-content>
              <ng-container *ngIf="clientes.length > 0; else empty">
                <table mat-table [dataSource]="clientes" matSort>

                  <!-- Nombre comercial Column -->
                  <ng-container matColumnDef="nombre_comercial">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Comercio </th>
                    <td mat-cell *matCellDef="let cliente"> {{cliente.nombre_comercial}} </td>
                  </ng-container>

                  <!-- Email Column -->
                  <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                    <td mat-cell *matCellDef="let cliente"> {{cliente.email}} </td>
                  </ng-container>


                  <!-- Request Column -->
                  <ng-container matColumnDef="request">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de petición </th>
                    <td mat-cell *matCellDef="let cliente">
                      {{toDate(cliente.request) | date: 'dd / MMM / yy - HH:mm'}}
                    </td>
                  </ng-container>



                  <!-- Options Column -->
                  <ng-container matColumnDef="options">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
                    <td mat-cell class="options" *matCellDef="let cliente"
                    (click)="onClienteSelect(cliente)">
                      <i class="fas fa-eye green-text"></i>
                    </td>
                  </ng-container>



                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row class="row-item" *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <mat-paginator [length]="clientes.length"
                              [pageSize]="pageSize"
                              (page)="onPageEvent($event)"

                              >
                </mat-paginator>
                </ng-container>

              <ng-template #empty >
                <p class="center data-text">
                  Por ahora no hay nuevas solicitudes de clientes
                </p>
              </ng-template>
            </mat-card-content>
          </mat-card>

        </div>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
