<div class="container">
  <div class="row">
    <div class="col s12 m1">
      <button mat-icon-button (click)="location_.back()">
        <i class="fas fa-arrow-left fa-lg"></i>
      </button>
    </div>
    <div class="col s12 m11">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Certificaciones y especializaciones</mat-card-title>
          <mat-card-subtitle>
            En este apartado, puedes agregar las certificaciones y especializaciones que tiene tu empresa, de manera que
            tus clientes
            puedan ver la calidad de tu trabajo.
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <mat-form-field>
            <mat-label>Extracto</mat-label>
            <textarea placeholder="Explica en breves palabras la experiencia que la empresa tiene" matInput type="text"
              name="extractCtrl" [formControl]="extractCtrl"></textarea>
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button [disabled]="extractCtrl.invalid">Guardar</button>
        </mat-card-actions>
      </mat-card>
      <mat-card>
        <mat-card-content>
          <form [formGroup]="cerespForm">
            <mat-form-field>
              <mat-label>Nombre</mat-label>
              <input matInput type="text" name="nombre" formControlName="nombre" />
            </mat-form-field>
            <mat-form-field>
              <mat-label>Aval</mat-label>
              <input matInput type="text" name="aval" formControlName="aval" />
            </mat-form-field>
            <mat-form-field>
              <mat-label>Miembro</mat-label>
              <input matInput type="text" name="miembro" formControlName="miembro" />
            </mat-form-field>
            <mat-form-field>
              <mat-label>Evidencia</mat-label>
              <input matInput type="text" name="evidencia" formControlName="evidencia" />
            </mat-form-field>
          </form>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button [disabled]="cerespForm.invalid">Guardar</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>