<div class="container">
  <div class="row">
    <div class="col s12 m1">
      <button mat-icon-button (click)="location_.back()">
        <i class="fas fa-arrow-left fa-lg"></i>
      </button>
    </div>
    <div class="col s12 m11">
      <!-- Extract -->
      <mat-card>
        <mat-card-header>
          <mat-card-title>Equipo y Maquinaria</mat-card-title>
          <mat-card-subtitle>
            En este apartado, puedes registrar tus equipos y maquinarias, de
            manera que tus clientes puedan revisar con lo que cuentas para
            llevar a cabo sus proyectos.
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <mat-form-field>
            <mat-label>Extracto</mat-label>
            <textarea
              placeholder="Explica en breves palabras la experiencia que la empresa tiene"
              matInput
              type="text"
              name="name"
              [formControl]="perfiles_.extractCtrl"
            >
            </textarea>
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
          <button
            mat-button
            [disabled]="perfiles_.extractCtrl.invalid && perfiles_.extractCtrl.pristine"
            (click)="perfiles_.updateExtract('equipo_maquinaria')"
            color="primary"
          >
            Guardar
          </button>
        </mat-card-actions>
      </mat-card>

      <!-- Items -->
      <mat-card>
        <mat-card-content>
          <mat-card-header>
            <mat-card-title>Agregar equipo o maquinaria</mat-card-title>
            <mat-card-subtitle>
              Agregar nuevos equipos o maquinarias a tu lista
            </mat-card-subtitle>
          </mat-card-header>

          <g-perfil-equipo-maquinaria
          [edit]="true"
          ></g-perfil-equipo-maquinaria>

          <!-- Agregar o editar items -->
          <mat-card id="add-items">


            <mat-card-content>
              <!-- Item maquinaria o equipo -->
              <div class="row">
                <form [formGroup]="eqpmaqForm">

                  <!-- Nombre -->
                  <div class="col s12">
                    <mat-form-field>
                      <mat-label>Nombre</mat-label>
                      <input
                        matInput
                        type="text"
                        name="nombre"
                        formControlName="nombre"
                        required
                      />
                      <mat-error
                        *ngIf="eqpmaqForm.hasError('required', 'nombre')"
                      >
                        Este dato es necesario
                      </mat-error>
                    </mat-form-field>
                  </div>

                  <!-- Modelo -->
                  <div class="col s4">
                    <mat-form-field>
                      <mat-label>Modelo</mat-label>
                      <input
                        matInput
                        type="text"
                        name="modelo"
                        formControlName="modelo"
                        required
                      />
                      <mat-error
                        *ngIf="eqpmaqForm.hasError('required', 'modelo')"
                      >
                        Este dato es necesario
                      </mat-error>
                    </mat-form-field>
                  </div>

                  <!-- Propio -->
                  <div class="col s4">
                    <mat-checkbox name="propio" formControlName="propio"
                      >¿Es Propio?</mat-checkbox
                    >
                  </div>

                  <!-- Comprobación -->
                  <div class="col s4">
                    <mat-checkbox
                      name="comprobacion"
                      formControlName="comprobacion"
                      >¿Se puede comprobar?</mat-checkbox
                    >
                  </div>

                  <!-- Evidencia -->
                  <div class="col s4">
                    <gdev-upload-files
                    [maxFileSize]="2097152"
                      [path]="perfiles_.filesPath"
                      [metadata]="perfiles_.metadata"
                      [uploadButton]="false"
                      uploadButtonLabel="Agregar evidencia"
                      dropzoneLabel="Toca o arrastra los archivos hasta aquí para subirlos. MÁXIMO 3 ARCHIVOS"
                    ></gdev-upload-files>
                  </div>
                </form>
              </div>
            </mat-card-content>

            <!-- Guardar -->
            <mat-card-actions>
              <button
                mat-button
                [disabled]="eqpmaqForm.invalid"
                (click)="onSaveItem()"
                color="primary"
              >
                Guardar
              </button>
            </mat-card-actions>
          </mat-card>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
