  <div id="account-area" class="links-container">
    <div class="collection">
      <a [routerLink]="['/afiliado/', RFC]" class="collection-item">Vista previa</a>
      <mat-divider></mat-divider>
      <a [routerLink]="['/afiliados/editar-afiliado']" class="collection-item">Editar empresa</a>
      <mat-divider></mat-divider>
      <a [routerLink]="['/afiliados/editar-perfil']" class="collection-item">Editar perfil</a>
      <mat-divider></mat-divider>
      <a [routerLink]="['']" class="collection-item">Accesos</a>
      <mat-divider></mat-divider>
      <!-- <a [routerLink]="['']" class="collection-item">Editar información</a>
      <mat-divider></mat-divider> -->
    </div>
  </div>
  <!-- <mat-accordion [displayMode]="'flat'">
    <mat-expansion-panel class="mat-elevation-z0">
      <mat-expansion-panel-header>
        <mat-title-panel></mat-title-panel>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
  </mat-accordion> -->
