  <div id="account-area" class="links-container">
    <div class="collection">
      <a *ngIf="slug" routerLinkActive="active" [routerLink]="['/afiliado/', slug]" class="collection-item" >Vista previa</a>
      <mat-divider></mat-divider>
      <a routerLinkActive="active" [routerLink]="['/afiliados/editar-afiliado', RFC]" class="collection-item">Editar empresa</a>
      <mat-divider></mat-divider>
      <a routerLinkActive="active" [routerLink]="['/afiliados/editar-perfil', RFC]" class="collection-item">Editar perfil</a>
      <mat-divider></mat-divider>
      <a routerLinkActive="active" [routerLink]="['/afiliados/accesos']" class="collection-item">Accesos</a>
      <mat-divider></mat-divider>
      <!-- <a [routerLink]="['']" class="collection-item">Editar información</a>
      <mat-divider></mat-divider> -->
    </div>
  </div>
  <!-- <mat-accordion [displayMode]="'flat'">
    <mat-expansion-panel class="mat-elevation-z0">
      <mat-expansion-panel-header>
        <mat-title-panel></mat-title-panel>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
  </mat-accordion> -->
