.container {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  padding-top: 1em;
  .row {
    width: 100%;
  }
}

#login-image {
  background-image: url('/assets/img/excavator-in-action.webp');
}
