<div class="container full-width">
  <div class="row">
    <div class="col s2 l1" *ngIf="edit !== undefined">
      <button  mat-icon-button (click)="location.back()">
        <i class="fas fa-arrow-left fa-lg "></i>
      </button>
    </div>
    <div class="col"
    [ngClass]="{'s10 l3': edit !== undefined, 's12 l5': edit === undefined}">
      <h2 class="center">Datos de afiliado</h2>
    </div>
  </div>
  <div class="row">

    <div id="form" class="col s12 l5">
      <mat-vertical-stepper [linear]="edit === undefined " #stepper class="mat-elevation-z3">

        <!-- DOMICILIO -->
        <mat-step aria-label="domicilio">
          <ng-template matStepLabel>Domicilio</ng-template>
          <g-direccion-form
            [form]="afiliado.domicilio"
            (invalid)="direccionBtn.disabled = $event"
            (changes)="onChanges('domicilio', $event)"
          ></g-direccion-form>
          <div>
            <button mat-button matStepperPrevious>Atrás</button>
            <button
              mat-button
              matStepperNext
              #direccionBtn="matButton"
              (click)="afiliados_.patch('domicilio', afiliado.domicilio)"
              color="primary"
              type="button"
            >
              Siguiente
            </button>
          </div>
        </mat-step>

        <!-- DATOS DE CONTACTO -->
        <mat-step aria-label="contacto">
          <ng-template matStepLabel>Datos de contacto</ng-template>

          <g-contacto-form
          [form]="afiliado.contacto"
            (changes)="onChanges('contacto', $event)"
            (invalid)="contactoBtn.disabled = $event"
          ></g-contacto-form>
          <div>
            <button mat-button matStepperPrevious>Atrás</button>
            <button
              #contactoBtn="matButton"
              (click)="afiliados_.patch('contacto', afiliado.contacto)"
              mat-button
              color="primary"
              type="button"
              matStepperNext
            >
              Siguiente
            </button>
          </div>
        </mat-step>

        <!-- REPRESENTANTE LEGAL -->
        <mat-step aria-label="representante">
          <ng-template matStepLabel>Datos de Representante Legal</ng-template>
          <g-representante-form
          [form]="afiliado.representante_legal"
            (invalid)="representanteBtn.disabled = $event"
            (changes)="onChanges('representante_legal', $event)"
          ></g-representante-form>
          <div>
            <button mat-button matStepperPrevious>Atrás</button>
            <button
              #representanteBtn="matButton"
              (click)="
                afiliados_.patch(
                  'representante_legal',
                  afiliado.representante_legal
                )
              "
              mat-button
              color="primary"
              type="button"
              matStepperNext
            >
              Siguiente
            </button>
          </div>
        </mat-step>

        <!-- DIRECTOR GENERAL -->
        <mat-step aria-label="director">
          <ng-template matStepLabel>Datos de director general</ng-template>
          <mat-checkbox
            [checked]="director_igual_legal"
            [(ngModel)]="director_igual_legal"
            name="director_igual"
          >
            ¿Los datos son los mismos que del representante?</mat-checkbox
          >
          <div *ngIf="!director_igual_legal">
            <g-representante-form
            [form]="afiliado.director"
              (changes)="onChanges('director', $event)"
              (invalid)="director_invalid = $event"
            ></g-representante-form>
          </div>
          <div>
            <button mat-button matStepperPrevious>Atrás</button>
            <button
              #directorBtn="matButton"
              (click)="
                afiliados_.patch(
                  'director',
                  afiliado.director
                )
              "
              mat-button
              color="primary"
              type="button"
              matStepperNext
              [disabled]="director_invalid && !director_igual_legal"
            >
              Siguiente
            </button>
          </div>
        </mat-step>

        <!-- TÉRMINOS Y CONDICIONES -->
        <mat-step>
          <ng-container *ngIf="edit === undefined; else back">
            <ng-template matStepLabel>Continuar</ng-template>
            <p>Ahora continuamos con tu registro</p>
            <div>
              <button mat-button matStepperPrevious>Atrás</button>
              <button
                mat-raised-button
                color="accent"
                type="button"
                matStepperNext
                [routerLink]="['/afiliados/elegir-actividades', RFC]"
              >
                Siguiente
              </button>
            </div>
          </ng-container>
          <ng-template #back >
            <ng-template matStepLabel>Has terminado</ng-template>
            <p>Ahora puedes volver al perfil</p>
            <button mat-raised-button color='primary'
            (click)="location.back()" >Regresar</button>
          </ng-template>
        </mat-step>
      </mat-vertical-stepper>
    </div>
    <div
      class="col l7"
      id="login-image"
      mxFix
      [topBreak]="76"
      [bottomSelector]="'#footer'"
    ></div>
  </div>
</div>
