<h2 mat-dialog-title>Aviso de Privacidad</h2>
<mat-dialog-content class="mat-typography">
    <p>La Cámara Mexicana de la Industria de la Construcción “CMIC”, a través de sus 44 Delegaciones, así como de sus
        oficinas de representación en toda la República Mexicana, con domicilio sede en Periférico Sur No. 4839, Colonia
        Parques del Pedregal, Alcaldía Tlalpan, C.P. 14010, en la Ciudad de México, hace de su conocimiento que es
        totalmente responsable del uso y protección de los datos personales que le recaba mediante el presente Módulo de
        Afiliación, de conformidad con lo dispuesto por la Ley Federal de Protección de Datos Personales en Posesión de
        los Particulares y su Reglamento. </p>

    <p>Los datos personales que recabamos, tienen la finalidad de afiliarlo a esta Cámara Empresarial, proveerle los
        servicios y productos ofrecidos por la “CMIC”, informarle sobre cambios, aumentos y promociones en los mismos,
        estadísticas, evaluar la calidad del servicio que le brindamos y aplicar encuestas de satisfacción,
        mercadotecnia y publicidad, prospección comercial, colaborar con autoridades federales, estatales, municipales y
        organismos públicos, celebrar Convenios de Colaboración con el sector público y el sector privado en beneficio
        de la industria de la construcción con la finalidad de generar oportunidades de negocios, organizar
        exposiciones, reuniones y congresos, preparar estudios e investigaciones de cualquier naturaleza relacionadas
        con nuestro giro, generación de oportunidad de negocios, oferta de productos y servicios con empresas e
        instituciones afines a “CMIC”</p>

    <p>A fin de lograr los objetivos mencionados, requerimos obtener los siguientes datos personales: Datos de
        identificación tales como nombre, edad, sexo, estado civil, Registro Federal de Contribuyentes; datos de
        contacto tales como domicilio, teléfono, correo electrónico; datos laborales y datos patrimoniales y/o
        financieros, tales como declaraciones de impuestos. Igualmente la “CMIC” puede solicitar información y
        documentación sobre la escritura constitutiva de su empresa, así como los poderes del representante legal. </p>
    <p>Usted tiene derecho de acceder, rectificar y cancelar sus datos personales, así como de oponerse al tratamiento
        de los mismos o revocar el consentimiento que para tal fin nos haya otorgado (Derechos ARCO), mediante escrito
        libre con firma autógrafa del titular y de manera personal en cualquiera de nuestras oficinas de lunes a jueves
        en un horario de atención de 09:00 a 18:00 horas, y los viernes de 9:00 a 14:00 horas, vía telefónica al
        teléfono (0155) 5424-7451 o bien vía correo electrónico a la dirección avisodeprivacidad@cmic.org, dirigido a la
        C.P. Liliana Guadalupe Alfaro Santos, Directora de Atención al Afiliado.</p>
    <p>Para conocer el procedimiento del ejercicio de Derechos ARCO, así como cualquier modificación o actualización al
        presente Aviso de Privacidad, derivados de nuevos requerimientos legales y de nuestras propias necesidades, lo
        invitamos a leer nuestro Aviso de Privacidad Integral que podrá consultar en nuestra página web:
        <a href="http://www.cmic.org.mx/cmic/privacidad/">http://www.cmic.org.mx/cmic/privacidad/</a>
        </p>

</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cerrar</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial >Acepto</button>
</mat-dialog-actions>
