<h2 mat-dialog-title>Autorización de Retención para Capacitación</h2>
<mat-dialog-content class="mat-typography">
    <p>Bajo protesta de decir verdad ratifico mi conformidad manifestada en la Asamblea General en sesión ordinaria
        celebrada en el año 2016 y aceptaron en la asamblea general en sesión del 19 de marzo de 2019 para que del monto
        de las obras que ejecute me sea retenido el dos al millar para ser enterado a CMIC, es decir, que del dos al
        millar sobre mis ingresos totales, o servicios relacionados con los mismas que preste; además de otorgar mi
        autorización para que las dependencias y entidades Federales, Organismos Paraestatales, Gubernamentales,
        Estatales y Municipales, retengan las aportaciones señaladas directamente en los contratos, órdenes de trabajo
        y/o estimaciones, con el fin de que sean enteradas a la CMIC a través del Fideicomiso 312 Instituto de
        Capacitación de la Industria de la Construcción, para la capacitación de mis trabajadores, obligación contenida
        tanto en la Constitución Política de los Estados Unidos Mexicanos, como en la Ley Federal del Trabajo, a través
        de los programas de cursos que se tienen registrados en la Secretaría del Trabajo y Previsión Social</p>

</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cerrar</button>
    <!--button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button-->
</mat-dialog-actions>