<div class="container">
  <div class="row">
    <div class="col s12 m1">
      <button mat-icon-button (click)="location_.back()">
        <i class="fas fa-arrow-left fa-lg"></i>
      </button>
    </div>
    <div class="col s12 m11">

      <mat-card>
        <mat-card-header>
          <mat-card-title>Información de la empresa</mat-card-title>
          <mat-card-subtitle>Edita lo correspondiente a la información pública de la empresa</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>

          <form class="row" [formGroup]="perfilForm">

            <div class="col s12 m7">
              <gdev-year-selector
              [fieldLabel]="'Año de afiliación a la CMIC'"
              matTooltip="Presiona el ícono para elegir una fecha"
              (selected)="catchYear($event)"
              [appearance]="'outline'"
              [value]="perfilForm.value.afiliacionYear"
              ></gdev-year-selector>
            </div>

            <div class="col s12 m7">
              <mat-form-field appearance="outline">
                <mat-label>Capacidad financiera</mat-label>
                <input
                matInput
                type="number"
                name="capFinanciera"
                formControlName="capFinanciera"
                >
                <span matPrefix>$&nbsp;</span>
                <span matSuffix>.00</span>
                <mat-error *ngIf="perfilForm.hasError('required', 'capFinanciera')">
                 Capacidad financiera es necesario
                </mat-error>
              </mat-form-field>
            </div>
          </form>


        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color='primary'
          (click)="saveData('perfil', perfilForm)"
          [disabled]="perfilForm.pristine" >
            Guardar
          </button>
        </mat-card-actions>
      </mat-card>


      <g-afiliados-personal-form [RFC]="RFC"></g-afiliados-personal-form>


      <mat-card>
        <mat-card-header>
          <mat-card-title>Servicios</mat-card-title>
          <mat-card-subtitle>Puedes agregar o quitar los servicios que ofrece tu empresa. Escribe el servicio y después presiona coma (,) para agregarlo.</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <mat-form-field class="example-chip-list" appearance="outline">
            <mat-label>Servicios que ofrece</mat-label>
            <mat-chip-list #chipList aria-label="Escribe un servicio y presiona enter o coma para agregarlo">
              <mat-chip *ngFor="let servicio of servicios" [selectable]="true"
                       [removable]="true" (removed)="remove(servicio)">
                {{servicio}}
                <mat-icon matChipRemove>cancel</mat-icon>
              </mat-chip>
              <input placeholder="Nuevo servicio..."
                    [formControl]="chipsInput"
                    [matChipInputFor]="chipList"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    [matChipInputAddOnBlur]="true"
                    (matChipInputTokenEnd)="add($event)">
            </mat-chip-list>
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color='primary'
          [disabled]="chipsInput.pristine || servicios.length == 0"
          (click)="perfil_.updateInfoDoc('perfil.servicios', servicios)"
           >Guardar</button>
        </mat-card-actions>
      </mat-card>

    </div>
  </div>
</div>
