<div class="container full-width">
  <div class="row">
    <div class="col l5 center" id="form">
      <h1 class="center">Solicitud de cliente</h1>
      <p class="center">Solicita el acceso como cliente a la Plataforma de Afiliados CMIC. <br> Podrás descubrir los socios perfectos para ti.</p>

      <mat-vertical-stepper [linear]="true" #stepper>
        <mat-step [stepControl]="datosForm">
          <form [formGroup]="datosForm" class="row">
            <ng-template matStepLabel>Escribe tus datos generales</ng-template>
            <div class="col s12" id="rfc-field">
              <mat-form-field appearance="outline">
                <mat-label>R.F.C.</mat-label>
                <input
                  matInput
                  placeholder="Ingrese R.F.C. Alfanumérico. No se permiten símbolos"
                  [formControl]="rfcCtrl"
                  required
                  name="rfc"
                  minlength="12"
                  maxlength="13"
                  oninput="this.value = this.value.toUpperCase()"
                  (keydown)="preventSpaces($event)"
                />
                <mat-error *ngIf="rfcCtrl.hasError('required', 'RFC')">
                  Por favor Ingrese el R.F.C de su empresa.
                </mat-error>
                <mat-error *ngIf="rfcCtrl.hasError('minlength')">
                  El RFC debe contener al menos 12 caracteres.
                </mat-error>
                <mat-error *ngIf="rfcCtrl.hasError('maxlength')">
                  El RFC de una persona física puede tener máximo 13 caracteres
                </mat-error>
                <mat-error *ngIf="rfcCtrl.hasError('invalidFormat')">
                  El RFC no debe contener símbolos o caracteres especiales
                </mat-error>
              </mat-form-field>
            </div>

            <!-- Email field -->
            <div class="col s12">
              <mat-form-field appearance="outline">
                <mat-label>Correo Electrónico</mat-label>
                <input
                  matInput
                  formControlName="email"
                  type="email"
                  required
                  name="email"
                />
                <mat-error *ngIf="datosForm.hasError('required', 'email')">
                  Por favor ingrese su correo electrónico
                </mat-error>
                <mat-error *ngIf="datosForm.hasError('email', 'email')">
                  Solo se permite correos electrónicos
                </mat-error>
              </mat-form-field>
            </div>

            <!-- Nombre field -->
            <div class="col s12">
              <mat-form-field appearance="outline">
                <mat-label>Nombre comercial</mat-label>
                <input
                  matInput
                  formControlName="comercial_nombre"
                  type="comercial_nombre"
                  required
                  name="comercial_nombre"
                />
                <mat-error *ngIf="datosForm.hasError('required', 'comercial_nombre')">
                  Por favor ingrese el nombre comercial de su empresa o negocio
                </mat-error>

              </mat-form-field>
            </div>
            <div class="col s12">
              <button mat-raised-button matStepperNext color="accent"
              [disabled]="datosForm.invalid">Siguiente</button>
            </div>
          </form>

        </mat-step>


        <mat-step [stepControl]="INEfileForm">
          <form [formGroup]="INEfileForm" class="row">
            <ng-template matStepLabel>Identificación</ng-template>
            <p>Sube un archivo de la identificación del Representante Legal (INE por ejemplo)</p>
            <div class="col s12">
              <mx-files-picker
              [maxFileSize]="2097152"
              [path]="'clientes/solicitudes/'+datosForm.get('RFC')?.value+'/'"
              [prefixName]="'INEfile'"
              [multiple]="false"
              [showDropzone]="true"
              [uploadStatus]="false"
              dropzoneLabel="Sube un archivo de la INE por ejemplo. Toca o arrastra el archivo"
              uploadButtonLabel="Subir"
              [disable]="storage_.files.length < 1"
              (uploadComplete)="onFileUploaded($event)">
              </mx-files-picker>
            </div>
            <div class="col s12">
              <!-- <button mat-raised-button matStepperPrevious>Atrás</button> -->
              <button mat-raised-button matStepperNext
              [disabled]="INEfileForm.invalid"
              color="accent">Siguiente</button>
            </div>
          </form>
        </mat-step>



        <mat-step [stepControl]="CIFfileForm">
          <form [formGroup]="CIFfileForm" class="row">
            <ng-template matStepLabel>Registro de contribuyentes</ng-template>
            <p>Sube un archivo de la constancia de la situación fiscal de la empresa</p>
            <div class="col s12">
              <mx-files-picker
              [maxFileSize]="2097152"
              [path]="'clientes/solicitudes/'+datosForm.get('RFC')?.value+'/'"
              [prefixName]="'CIFfile'"
              [multiple]="false"
              [showDropzone]="true"
              [uploadStatus]="false"
              dropzoneLabel="Sube un archivo de constancia de sitiacuón fiscal. Toca o arrastra el archivo"
              uploadButtonLabel="Subir"
              [disable]="storage_.files.length < 1"
              (uploadComplete)="onFileUploaded($event)">
              </mx-files-picker>
            </div>
            <div class="col s12">
              <!-- <button mat-raised-button matStepperPrevious>Atrás</button> -->
              <button mat-raised-button matStepperNext
              [disabled]="CIFfileForm.invalid"
              color="accent">Siguiente</button>
            </div>
          </form>
        </mat-step>

        <mat-step>
          <ng-template matStepLabel>Enviar</ng-template>
          <p>Ahora a enviar tu solicitud. <br> Después de enviarla, tomará un tiempo para que los administradores de la plataforma revisen tu solicitud. Así que sé paciente por favor</p>
          <!-- <button mat-raised-button matStepperPrevious>Atrás</button> -->
          <button mat-raised-button (click)="onSubmit()"
          [disabled]="validForms" color="accent">Enviar</button>
        </mat-step>
      </mat-vertical-stepper>

      <!-- <mat-card>
        <mat-card-content>

        </mat-card-content>


        <mat-card-actions>
          <button mat-raised-button
          [disabled]="accountForm.invalid"
          (click)="onSubmit()"
          >Guardar</button>
        </mat-card-actions>



      </mat-card>

      <p class="center">
        Ya has creado tu cuenta antes?
      </p>

          <button mat-raised-button color='accent'
          [routerLink]="['/admin/login']"
          >Ir a inicio de sesión</button> -->

    </div>
    <div *ngIf="!invisible" class="col l7" id="login-image" mxFix [topBreak]="76" [bottomSelector]="'#footer'"  >
    </div>
  </div>
</div>
