<div id="account-area" class="links-container">
  <div class="collection">
    <a routerLinkActive="active" [routerLink]="['/admin/accesos']" class="collection-item">Accesos</a>
    <mat-divider></mat-divider>
    <a routerLinkActive="active" [routerLink]="['/admin/afiliados']" class="collection-item">Afiliados</a>
    <mat-divider></mat-divider>
    <a routerLinkActive="active" [routerLink]="['/admin/clientes']" class="collection-item">Clientes</a>
    <mat-divider></mat-divider>
    <a [routerLink]="['/admin/sitio']" class="collection-item">Sitio</a>
    <mat-divider></mat-divider>
  </div>
</div>
