<div class="container">
  <div class="row">
    <div class="col s12 m1">
      <button mat-icon-button (click)="location_.back()">
        <i class="fas fa-arrow-left fa-lg"></i>
      </button>
    </div>
    <div class="col s12 m11">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Certificaciones y especializaciones</mat-card-title>
          <mat-card-subtitle>
            En este apartado, puedes agregar las certificaciones y especializaciones que tiene tu empresa, de manera que tus clientes puedan ver la calidad de tu trabajo.
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>

          <div class="row">
            <div class="col s12">
              <mat-form-field appearance="outline">
                <mat-label>Extracto</mat-label>
                <textarea placeholder="Explica en breves palabras las certificaciones, diplomas o reconocimientos con los que cuenta la empresa" matInput type="text"
                  name="extractCtrl" [formControl]="perfil_.extractCtrl"></textarea>
              </mat-form-field>
              <button mat-button [disabled]="perfil_.extractCtrl.invalid && perfil_.extractCtrl.pristine"
              (click)="perfil_.updateExtract('certificaciones')">Guardar</button>
              <mat-divider></mat-divider>
            </div>
          </div>

          <div class="row">
            <div class="col s6" *ngIf="listDoc">
              <g-file-viewer
              [file]="listDoc"
              ></g-file-viewer>
            </div>
            <div class="col s6">
              <p>Agrega una lista de las certificaciones o diplomas de tu personal</p>
              <mx-files-picker
              [maxFileSize]="2097152"
              [path]="perfil_.filesPath"
              [metadata]="perfil_.metadata"
              toggleButtonLabel="Subir lista de certificaciones o diplomas"
              [multiple]="false"
              dropzoneLabel="Toca o arrastra los archivos hasta aquí para subir un archivo."
              (uploadComplete)="onListUploaded($event)"
              ></mx-files-picker>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions>

        </mat-card-actions>
      </mat-card>

      <!-- Certificaciones -->
      <mat-card>
        <mat-card-content>

          <g-perfil-certificaciones
          [edit]="true"
          (items)="items = $event"
          ></g-perfil-certificaciones>

          <ng-container *ngIf="items.length <= 3; else full">
          <!-- Agregar certificaciones -->
          <form [formGroup]="certForm">
            <mat-card>
              <mat-card-content>
                <div class="row">

                  <div class="col s12 m6">
                    <mat-form-field>
                      <mat-label>Nombre de la constancia</mat-label>
                      <input matInput type="text" name="nombre" formControlName="nombre" required />
                    </mat-form-field>
                  </div>

                  <div class="col s12 m6">
                    <mat-form-field>
                      <mat-label>Institución que emite</mat-label>
                      <input matInput type="text" name="aval" formControlName="aval" required />
                    </mat-form-field>
                  </div>

                  <div class="col s12 m9">
                    <mat-form-field>
                      <mat-label>Miembro de la empresa certificado</mat-label>
                      <input matInput type="text" name="miembro" formControlName="miembro" required />
                    </mat-form-field>
                  </div>

                  <div class="col s12 m3">
                    <gdev-year-selector
                    [value]="certForm.value.fecha"
                    (selected)="catchYear($event)"
                    [max]="now"
                    fieldLabel="Año de la certificación"
                    ></gdev-year-selector>
                  </div>

                  <div class="col s12">
                    <mx-files-picker
                    [maxFileSize]="2097152"
                    [uploadButton]="false"
                    [path]="perfil_.filesPath"
                    [metadata]="perfil_.metadata"
                    [multiple]="false"
                    [toggleButtonLabel]="'Agrega evidencia'"
                    dropzoneLabel="Toca o arrastra los archivos hasta aquí para subirlos. MÁXIMO 3 ARCHIVOS"
                    >
                    </mx-files-picker>
                  </div>

                </div>
              </mat-card-content>
              <mat-card-actions>
                <button mat-button [disabled]="certForm.invalid && certForm.pristine"
                color="primary"
                (click)="onSaveItem()">Guardar</button>
              </mat-card-actions>
            </mat-card>
          </form>
          </ng-container>
          <ng-template #full >
          <p class="center data-text">
              Sólo puedes agregar 3 certificaciones importantes como máximo
            </p>
          </ng-template>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
