<div class="container">
  <div class="row">
    <div class="col s12 m1">
      <button mat-icon-button (click)="location_.back()">
        <i class="fas fa-arrow-left fa-lg"></i>
      </button>
    </div>
    <div class="col s12 m11">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Certificaciones y especializaciones</mat-card-title>
          <mat-card-subtitle>
            En este apartado, puedes agregar las certificaciones y especializaciones que tiene tu empresa, de manera que tus clientes puedan ver la calidad de tu trabajo.
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <mat-form-field>
            <mat-label>Extracto</mat-label>
            <textarea placeholder="Explica en breves palabras las certificaciones, diplomas o reconocimientos con los que cuenta la empresa" matInput type="text"
              name="extractCtrl" [formControl]="perfil_.extractCtrl"></textarea>
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button [disabled]="perfil_.extractCtrl.invalid && perfil_.extractCtrl.pristine"
          (click)="perfil_.updateExtract('certificaciones')">Guardar</button>
        </mat-card-actions>
      </mat-card>

      <!-- Certificaciones -->
      <mat-card>
        <mat-card-content>

          <g-perfil-certificaciones
          [edit]="true"
          ></g-perfil-certificaciones>

          <!-- Agregar certificaciones -->
          <form [formGroup]="certForm">
            <mat-card>
              <mat-card-content>
                <div class="row">

                  <div class="col s12 m6">
                    <mat-form-field>
                      <mat-label>Nombre de la constancia</mat-label>
                      <input matInput type="text" name="nombre" formControlName="nombre" required />
                    </mat-form-field>
                  </div>

                  <div class="col s12 m6">
                    <mat-form-field>
                      <mat-label>Institución que emite</mat-label>
                      <input matInput type="text" name="aval" formControlName="aval" required />
                    </mat-form-field>
                  </div>

                  <div class="col s12 m9">
                    <mat-form-field>
                      <mat-label>Miembro de la empresa certificado</mat-label>
                      <input matInput type="text" name="miembro" formControlName="miembro" required />
                    </mat-form-field>
                  </div>

                  <div class="col s12 m3">
                    <gdev-year-selector
                    [value]="certForm.value.fecha"
                    (selected)="catchYear($event)"
                    [max]="now"
                    fieldLabel="Año de la certificación"
                    ></gdev-year-selector>
                  </div>

                  <div class="col s12">
                    <mx-files-picker
                    [maxFileSize]="2097152"
                    [uploadButton]="false"
                    [path]="perfil_.filesPath"
                    [metadata]="perfil_.metadata"
                    [multiple]="false"
                    [toggleButtonLabel]="'Agrega evidencia'"
                    dropzoneLabel="Toca o arrastra los archivos hasta aquí para subirlos. MÁXIMO 3 ARCHIVOS"
                    >
                    </mx-files-picker>
                  </div>

                </div>
              </mat-card-content>
              <mat-card-actions>
                <button mat-button [disabled]="certForm.invalid && certForm.pristine"
                color="secondary"
                (click)="onSaveItem()">Guardar</button>
              </mat-card-actions>
            </mat-card>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
