<div class="container">
  <div class="row">
    <div class="col s12 m1">
      <button mat-icon-button (click)="location_.back()">
        <i class="fas fa-arrow-left fa-lg"></i>
      </button>
    </div>
    <div class="col s12 m11">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Recursos Humanos de la empresa</mat-card-title>
          <mat-card-subtitle>
            En este apartado, puedes agregar la recursos humanos que tiene tu
            empresa, de manera que tus clientes puedan conocer a tu equipo.
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div class="row">
              <div class="col s12">
                <mat-form-field>
                  <mat-label>Extracto</mat-label>
                  <textarea
                    placeholder="Explica en breves palabras la experiencia que la empresa tiene"
                    matInput
                    type="text"
                    name="name"
                    [formControl]="perfil_.extractCtrl"
                    required
                  ></textarea>
                </mat-form-field>
              </div>


            </div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button [disabled]="perfil_.extractCtrl.invalid && perfil_.extractCtrl.pristine"
          (click)="perfil_.updateExtract('recursos_humanos')"
          color="secondary"
          >Guardar</button>
        </mat-card-actions>
      </mat-card>

      <mat-card>
        <mat-card-header>
          <mat-card-title>Directorio</mat-card-title>
          <mat-card-subtitle>
            Agrega miembros de tu empresa que consideres que es importante
            que tu cliente tenga forma de contactarlo
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>

          <g-perfil-recursos-humanos [edit]="true"></g-perfil-recursos-humanos>

          <!-- Agregar miembro del equipo -->
          <mat-card>
            <form [formGroup]="memberForm">
              <mat-card-content>
                <mat-form-field>
                  <mat-label>Nombre</mat-label>
                  <input
                    matInput
                    type="text"
                    name="nombre"
                    formControlName="nombre"
                    required
                  />
                </mat-form-field>

                <mat-form-field>
                  <mat-label>Cargo</mat-label>
                  <input
                    matInput
                    type="text"
                    name="cargo"
                    formControlName="cargo"
                    required
                  />
                </mat-form-field>

                <mat-form-field>
                  <mat-label>Contacto</mat-label>
                  <input
                    matInput
                    type="text"
                    name="contacto"
                    formControlName="contacto"
                    required
                  />
                </mat-form-field>
              </mat-card-content>
              <mat-card-actions>
                <button mat-raised-button color="secondary" [disabled]="memberForm.invalid && memberForm.pristine" (click)="onSaveItem()">Guardar</button>
              </mat-card-actions>
            </form>
            </mat-card>
          </mat-card-content>
        </mat-card>
    </div>
  </div>
</div>
