<div class="container full-width" >
  <div class="row" >
    <div class="col l5 center" id="form" >
      <h1 class="center">Bienvenido cliente</h1>
      <mx-login-card
      signInTitle="Inicia sesión como cliente"
      passwordLabel="Contraseña"
      forgotPasswordLabel="Olvidé mi contraseña"
      signInButton="Iniciar"
      (onSubmit)="onSubmit($event)"
      (restorePwd)="onRestorePwd()"
      ></mx-login-card>
      <p class="center">
        ¿Aún no eres cliente?
      </p>
      <button mat-raised-button color='accent'
      [routerLink]="['/clientes/solicitud']"
      >Solicitar acceso</button>
    </div>
    <div class="col l7" id="login-image"  >
    </div>
  </div>
</div>
