<mat-dialog-content>
  <div class="row">
    <div class="col s12">
      <p class="center">Mensaje de: <span class="data-text">
        {{mensaje.nombre}}
      </span></p>
      <p class="center small-text" *ngIf="mensaje.date"> <span class="data-text">
        {{mensaje.date | toDate | date: 'short'}}
      </span></p>
      <p>Email: <span class="data-text">
        {{mensaje.email}}
      </span></p>
      <p>Celular: <span class="data-text">
        {{mensaje.area_cel}} {{mensaje.celular}}
      </span></p>
      <p>Mensaje: <span class="data-text">
        {{mensaje.mensaje}}
      </span></p>
    </div>
  </div>

</mat-dialog-content>
<mat-dialog-actions
style="display: flex; justify-content: space-around;">
    <button mat-raised-button
    color="accent"
    (click)="onDelete()"
    (click)="dialog.close()"
    >Eliminar</button>
    <button mat-raised-button
    color="secondary"
    (click)="dialog.close()"
    >Cerrar</button>
</mat-dialog-actions>
