.container {
  position: relative;
  z-index: 2;
  display: flex;
  .row {
    width: 100%;
  }
}

h1 {
  font-weight: 900;
  font-size: xx-large;
  // text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5)
}
#login-container {
  height:88vh;
  width: 100%;
  position: absolute;
  background-position: 115% bottom;
  z-index: 1;
}

#login-image {
  background-image: url('/assets/img/miniature-workmen.webp')
}



#rfc-field{
  margin-bottom: 3em;
}
