#red-bar {
  height: 12px;
  width:100%;
  background: #e20512;
  z-index: 10;
  position: relative;
}

#topbar-container {
  z-index: 15;
  overflow: hidden;
  mat-drawer {
    width: 100%;
    position: fixed;
    height: 100vh;
    overflow: hidden;
    .fa-2x {
      font-size: large;
    }
    .mat-divider {
      border-color: #cf3917;
    }
    .logo-container {
      position: relative;
      img {
        width: 100%;
        padding: 1.5em
      }
    }
    .buscador-container {
      padding: 0 1.5em;
      display: block !important;
    }
    #menus .col {
      display: flex;
      flex-direction: column;
      .topbar-item {
        margin-top: .5em;
        margin-bottom: .5em;
      }
    }
  }
}

#topbar {
  position: relative;
  z-index: 20;
}


mat-toolbar {
  position: relative;
  z-index: 10;
}

.logo-container {
  position: relative;
  height: 80%;
  flex: 1 1 auto;
  display: flex;
  flex-flow: wrap row;
  justify-content: flex-start;
  cursor: pointer;
  outline:none;
  img{
    position: relative;
    height:100%;
    margin-right: .5em;
  }
  .logo-legend {
    font-size: initial;
    line-height: 1;
    color: #333;
    align-self: center;
  }
}

.buscador-container {
  flex: 1 1 auto;
  display: flex;
  justify-content:center;
  height: 80%;
  position: relative;
  ::ng-deep {
    g-searcher {
      width: 100%;
      mat-form-field {
        height: 100% !important;
        width: 100% !important;
      }
    }
  }
}

.topbar-item {
  margin: 0 1.5em;
  font-size: medium;
}

.link {
  color: #909090;
}

.active {
  border-bottom: #e20512 solid 2px;
  color: #000
}
