<div id="topbar">
  <div id="red-bar"></div>
  <mat-toolbar class="mat-elevation-z5">


    <!-- LOGO -->
    <div class="logo-container" [routerLink]="['/']">
      <img src="/assets/img/cmic-logo-h.png" alt="logo CMIC">
    </div>

    <!-- BUSCADOR -->
    <div class="buscador-container">

      <g-searcher></g-searcher>

    </div>


    <!-- MENÚS -->
    <div>
      <a class="topbar-item link" [routerLink]="[ '/contacto' ]" [routerLinkActive]="'active'">Contacto</a>


      <ng-container *ngIf="logged !== false; else unlogged">


        <!-- Logged afiliado -->
        <ng-container *ngIf="logged == 'manager'; else cliente">

          <a  class="topbar-item" color="primary"  mat-icon-button [mat-menu-trigger-for]="unloggedMenu">
            Afiliado
          </a>
          <mat-menu #unloggedMenu="matMenu">
            <button mat-menu-item [routerLink]="['/afiliados/perfil']">
              Administrar Perfil
            </button>
            <button mat-menu-item (click)="auth_.singOut()">
              Cerrar Sesión
            </button>

          </mat-menu>

        </ng-container>

        <!-- Logged cliente -->
        <ng-template #cliente >

          <a  class="topbar-item" color="primary"  mat-icon-button [mat-menu-trigger-for]="unloggedMenu">
            Cliente
          </a>
          <mat-menu #unloggedMenu="matMenu">
            <button mat-menu-item (click)="auth_.singOut()">
              Cerrar Sesión
            </button>

          </mat-menu>

        </ng-template>
      </ng-container>







      <!-- Not logged -->
      <ng-template #unlogged>
        <a class="topbar-item link" mat-icon-button [mat-menu-trigger-for]="afiliadoMenu" [routerLinkActive]="'active'">
            Afiliado
        </a>
        <mat-menu #afiliadoMenu="matMenu">
            <button mat-menu-item [routerLink]="['/afiliados/login']">
                Inciar sesión
            </button>
            <button mat-menu-item [routerLink]="['/afiliados/registro']">
                Registrarse
            </button>
        </mat-menu>
        <a class="topbar-item link" mat-icon-button [mat-menu-trigger-for]="clienteMenu" [routerLinkActive]="'active'">
            Cliente
        </a>
        <mat-menu #clienteMenu="matMenu">
            <button mat-menu-item (click)="openClientLogin()">
                Ingresar
            </button>
            <!-- <button mat-menu-item>
                Registrarse
            </button> -->

        </mat-menu>

      </ng-template>
    </div>
  </mat-toolbar>
</div>
