.perfil-actividades{
  ::ng-deep{
    margin-bottom: 2em;
    mat-list-option {
      cursor: pointer;
      outline: none;
      font-size: 12px;
      height: inherit;
      padding: 5px 0;
      line-height: 1.5;
    }
    .mat-line {
      white-space: break-spaces;
    }
  }
}



