mat-list-option {
  cursor: pointer !important;
  outline: none !important;
  font-size: 12px !important;
  height: inherit !important;
  padding: 5px 0 !important;
  line-height: 1.5 !important;
}

mat-selection-list {
  margin-bottom: 2em;
}

