<div class="container">
  <div class="row">

    <!-- Sidebar -->
    <section class="col s12 l4">
      <g-afiliado-perfil-sidebar
      [afiliado]="afiliado"
      ></g-afiliado-perfil-sidebar>
    </section>

    <!-- Empresa Content -->
    <div class="col s12 l8">

      <div class="bannerPerfil">
        <div id="img"
          width="100%"
          height="200px"
          [ngStyle]="{'background': 'url('+banner+')'}"
          alt="Cargar Imagen de Portada"
          style="margin-bottom: 15px"
        ></div>
        <button mat-mini-fab class="upload-btn"
        color="primary"
      (click)="uploadProfileImage()">
        <i class="fas fa-upload"></i>
      </button>
      </div>

      <mat-accordion>
        <!-- Somos Panel -->
        <mat-expansion-panel #somosPanel
        (opened)="somosInput.pristine ? somos = '' : somos = somos"
        >
          <mat-expansion-panel-header>
            <mat-panel-title> ¿Quiénes Somos? </mat-panel-title>
            <mat-panel-description *ngIf="!somosPanel.expanded">
              {{somos}}
            </mat-panel-description>
          </mat-expansion-panel-header>

          <mat-form-field appearance="outline">
            <textarea
              rows="5"
              matInput
              placeholder="Escribe un texto sobre la empresa"
              [(ngModel)]="somos"
              name="quienesSomos"
              #somosInput="ngModel"
              required
            ></textarea>
          </mat-form-field>
          <mat-action-row>
            <button mat-raised-button color='primary'
            [disabled]="somosInput.invalid"
            (click)="perfil_.updateInfoDoc('perfil.somos', somos)"
            >Guardar</button>
          </mat-action-row>
        </mat-expansion-panel>


        <!-- Experiencia panel -->
        <mat-expansion-panel #expPanel style="margin-top: 5px">
          <mat-expansion-panel-header>
            <mat-panel-title> Experiencia </mat-panel-title>
            <mat-panel-description>
              {{afiliado.adicional?.extract?.experiencia ||
                'No se ha agregado esta infromación'}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <g-perfil-experiencia
          ></g-perfil-experiencia>
          <mat-action-row>
            <p class="grey-text" [style.margin-right]="'1em'">Presiona "Editar" para cargar información</p>
            <a [routerLink]="['/afiliados/experiencia/', RFC]"
            mat-raised-button color='primary' >Editar</a>
          </mat-action-row>

        </mat-expansion-panel>




        <!-- Equipo y maquinaria panel -->
        <mat-expansion-panel #maqPanel style="margin-top: 5px">
          <mat-expansion-panel-header>
            <mat-panel-title> Equipo y maquinaria </mat-panel-title>
            <mat-panel-description>
              {{afiliado.adicional?.extract?.equipo_maquinaria ||
                'No se ha agregado esta infromación'}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <g-perfil-equipo-maquinaria ></g-perfil-equipo-maquinaria>
          <mat-action-row>
            <p class="grey-text" [style.margin-right]="'1em'">Presiona "Editar" para cargar información</p>
            <a [routerLink]="['/afiliados/equipo-maquinaria', RFC]"
            mat-raised-button color='primary' >Editar</a>
          </mat-action-row>
        </mat-expansion-panel>

        <!-- Recursos humanos panel -->
        <mat-expansion-panel #rhPanel style="margin-top: 5px">
          <mat-expansion-panel-header>
            <mat-panel-title> Recursos Humanos </mat-panel-title>
            <mat-panel-description>
              {{afiliado.adicional?.extract?.recursos_humanos ||
                'No se ha agregado esta infromación'}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <g-perfil-recursos-humanos
          ></g-perfil-recursos-humanos>
          <mat-action-row>
            <p class="grey-text" [style.margin-right]="'1em'">Presiona "Editar" para cargar información</p>
            <a [routerLink]="['/afiliados/recursos-humanos', RFC]"
            mat-raised-button color='primary' >Editar</a>
          </mat-action-row>
        </mat-expansion-panel>

        <!-- Certificaciones panel -->
        <mat-expansion-panel #certPanel style="margin-top: 5px">
          <mat-expansion-panel-header>
            <mat-panel-title> Certificaciones y especializaciones </mat-panel-title>
            <mat-panel-description>
              {{afiliado.adicional?.extract?.certificaciones||
                'No se ha agregado esta infromación'}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <g-perfil-certificaciones
          ></g-perfil-certificaciones>
          <mat-action-row>
            <p class="grey-text" [style.margin-right]="'1em'">Presiona "Editar" para cargar información</p>
            <a [routerLink]="['/afiliados/certificaciones-especializaciones', RFC]"
            mat-raised-button color='primary' >Editar</a>
          </mat-action-row>
        </mat-expansion-panel>


        <!-- Contabilidad panel -->
        <!-- <mat-expansion-panel #contaPanel style="margin-top: 5px">
          <mat-expansion-panel-header>
            <mat-panel-title> Capacidad Contable </mat-panel-title>
            <mat-panel-description>
              {{perfilOutput.conta}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <g-perfil-cap-contable
          [rfc]="RFC"
          (extract$)="perfilOutput.conta = $event"
          ></g-perfil-cap-contable>
          <mat-action-row>
            <a [routerLink]="['../capacidad-contable']"
            mat-raised-button color='primary' >Editar</a>
          </mat-action-row>
        </mat-expansion-panel> -->

      </mat-accordion>
    </div>
  </div>
</div>
