
<div *ngIf="items$ | async as items">
  <ng-container *ngIf="items.length > 0; else empty">
    <!-- Item de equipo_maquinaria -->
    <div class="row" *ngFor="let item of items; index as i" >
      <div class="col s12">
        <mat-card>

          <mat-card-header>
            <mat-card-title> {{item.nombre}} </mat-card-title>
            <mat-card-subtitle> Modelo: <span class="data-text">{{item.modelo}}</span> </mat-card-subtitle>
            <mat-chip-list>
              <mat-chip *ngIf="item.comprobacion"> Comprobable </mat-chip>
              <mat-chip *ngIf="item.propio"> Propio </mat-chip>
            </mat-chip-list>
          </mat-card-header>

          <mat-card-content>
            <mat-card class="mat-elevation-z0">

              <mat-card-header>
                <mat-card-title>Evidencia</mat-card-title>
              </mat-card-header>

              <mat-card-content class="row mat-elevation-z0">
                <div class="col s12 m6 l4" *ngFor="let file of item.evidencia">
                    <g-file-viewer [file]="file"></g-file-viewer>
                    <!-- <img mat-card-image [src]="file.url" [alt]="file.fileName"> -->
                </div>
              </mat-card-content>
            </mat-card>
          </mat-card-content>

          <mat-card-actions *ngIf="edit"
          style="display: flex; justify-content: space-around;">
              <button mat-raised-button
              color="secondary"
              (click)="sendToEdit(item, i)"
              >Editar</button>
              <button mat-raised-button
              color="primary"
              (click)="perfil_.deleteInfoItem('equipo_maquinaria', item.id)"
              >Eliminar</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </ng-container>
  <ng-template #empty >
    <p class="data-text">Aún no hay equipos registrados</p>
  </ng-template>


</div>

<div class="row" *ngIf="!edit">
  <div class="col s12">
    <div *ngIf="listDoc">
      <p><b>Lista de equipo y maquinaria</b></p>
      <g-file-viewer
      [file]="listDoc"
      ></g-file-viewer>
    </div>
  </div>
</div>
<!-- <div class="row">
  <div class="col s12">
    <mat-divider></mat-divider>
  </div>
</div> -->
