@import './assets/styles/cmic-palette.scss';
@import '~@angular/material/theming';
@import '~gdev-colors/styles/colors.css';
@import '~gdev-responsive/styles/responsive.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@include mat-core();

$afiliados-app-primary: mat-palette($cmic-primary, 500, 400, 900);
$afiliados-app-accent: mat-palette($cmic-accent, 500, 400, 900 );
$afiliados-app-secondary: mat-palette($cmic-secondary, 500, 100, 900);
$afiliados-app-warn: mat-palette($mat-red);
$afiliados-app-theme: mat-light-theme((
  color: (
    primary: $afiliados-app-primary,
    accent: $afiliados-app-accent,
    secondary: $afiliados-app-secondary,
    warn: $afiliados-app-warn,
  )
));
@include angular-material-theme($afiliados-app-theme);
.mat-secondary {
  background: mat-color($afiliados-app-secondary) !important;
  color:#fff !important
}
.mat-secondary[disabled]{
  background:rgb(145, 145, 145) !important;
}


$cmic-typography: mat-typography-config(
  $font-family: 'Montserrat',
  $body-1: mat-typography-level(1em, 24px, 500)
);

@include mat-base-typography($cmic-typography);
@include mat-core($cmic-typography);


html, body { height: 100%;  }
body { margin: 0; font-family: "Montserrat", sans-serif; }

.page {
  min-height: 100vh;
}

mat-form-field {width: 100%;}
.data-text {
  font-weight: 600;
  color: map-get($cmic-primary, 500 );
}

::ng-deep {
  mx-login-card mat-card {
    max-width: 350px !important;
  }
}

mat-card {
  margin-bottom: 1em;
  width: 100%;
}

::ng-deep {
  .mat-checkbox-layout {
    white-space: pre-wrap !important;
  }

  label.mat-radio-label {
    margin-right: 1em;
  }
}

#login-container {
  height:88vh;
  width: 100%;

  position: absolute;
  background-position: 100% bottom;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
}


.full-width {
  margin: 0;
  padding:5em 0 2em;
  width: 100vw;
  overflow-x: hidden;
  position: relative;
  max-width: unset !important;
  #form{
    padding-left: 5em;
    padding-right: 2em;
    width:40vw;
  }
  #login-image {
    background-image: url('/assets/img/login-afilliado.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 60vw;
    top: 0em;
    left: 40%;

  }
}

.empty-card {
  min-height: 80px;
  background: #eee;
  background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
  border-radius: 5px;
  background-size: 200% 100%;
  animation: 1.5s shine linear infinite;
}

@keyframes shine {
  to {
    background-position-x: -200%;
  }
}

::ng-deep {
  .mat-dialog-container {
    background: white !important;
    box-shadow: 0px 11px 15px -7px rgb(0 0 0 / 20%), 0px 24px 38px 3px rgb(0 0 0 / 14%), 0px 9px 46px 8px rgb(0 0 0 / 12%) !important;
  }
}

.list-file {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .delete-list-file{
    opacity: 0;
    transition: all 0.3s
  }
  &:hover{
    .delete-list-file {
      opacity: 1
    }
  }
}
