<div class="container">
  <div class="row">
    <div class="col s12 m1">
      <button mat-icon-button (click)="location_.back()">
        <i class="fas fa-arrow-left fa-lg"></i>
      </button>
    </div>
    <div class="col s12 m11">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Capacidad contable de la empresa</mat-card-title>
          <mat-card-subtitle>
            En este apartado, puedes agregar la capacidad contable que tiene tu
            empresa, de manera que tus clientes puedan revisar tu trabajo.
          </mat-card-subtitle>
        </mat-card-header>

        <!-- Capacidad contable Form-->
        <form [formGroup]="capContableForm">
        <mat-card-content>
            <mat-form-field>
              <mat-label>Extracto</mat-label>
              <textarea
                matInput
                type="text"
                placeholder="Explica en breves palabras la capacidad contable que la empresa tiene"
                name="name"
                formControlName="extract"
                required
              >
              <mat-error *ngIf="capContableForm.hasError('required', 'extract')">
                Es necesario agregar un resumen
              </mat-error>
              </textarea>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Capacidad de financiamiento</mat-label>
              <input
                matInput
                type="text"
                placeholder="Define la cantidad de financiamiento que puedes ofrecer para proyectos"
                name="name"
                formControlName="capacidad"
                required
              >
              <mat-error *ngIf="capContableForm.hasError('required', 'capacidad')">
                Es necesario que definas este dato
              </mat-error>
            </mat-form-field>

          </mat-card-content>
          <mat-card-actions>
            <button mat-button
            color="secondary"
            [disabled]="capContableForm.invalid || capContableForm.pristine"
            (click)="saveCapContable()">
            Guardar
          </button>
        </mat-card-actions>
      </form>
      </mat-card>

      <mat-card>
        <mat-card-header>
          <mat-card-title>Declaraciones</mat-card-title>
          <mat-card-subtitle>
            Informa las última 3 declaraciones anuales de tu empresa
          </mat-card-subtitle>
        </mat-card-header>

        <!-- Declaraciones Forms -->
        <mat-card-content>

          <form [formGroup]="declaracionesForm">
            <div formArrayName="declaraciones">
              <mat-card *ngFor="let declaracion of declaraciones.controls; index as i">

                <mat-card-content>
                  <!-- Declaración -->
                  <div class="row">
                    <form [formGroupName]="i">
                      <div class="col s4">
                        <mat-form-field>
                          <mat-label>Año</mat-label>
                          <input
                            matInput
                            type="text"
                            name="year"
                            formControlName="year"
                            readonly
                          />
                        </mat-form-field>
                      </div>
                      <div class="col s4">
                        <mat-form-field>
                          <mat-label>Ingreso</mat-label>
                          <input
                            matInput
                            type="text"
                            name="ingreso"
                            formControlName="ingreso"
                          />
                          <mat-error
                            *ngIf="declaracion.hasError('required', 'ingreso')"
                          >
                            Este dato es necesario
                          </mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col s4">
                        <ng-container *ngIf="declaracion.value['evidencia']; else empty">
                          {{declaracion.value['evidencia'][0]['fileName']}}
                        </ng-container>
                        <ng-template #empty >
                          <mx-files-picker
                          [multiple]="false"
                          [maxFileSize]="2097152"
                          [metadata]="metadata"
                          [dropzoneLabel]="'Arrastra o toca para cargar un archivo de evidencia'"
                          [toggleButtonLabel]="'Subir archivo'"
                          (uploadComplete)="onUploadedFile($event, i)"
                          ></mx-files-picker>
                        </ng-template>

                      </div>
                    </form>
                  </div>
                </mat-card-content>

                <mat-card-actions>
                  <button
                  mat-button
                  [disabled]="declaracion.invalid && declaracion.pristine"
                  (click)="saveDeclaracion(declaracion, i)">
                    Guardar
                  </button>
                </mat-card-actions>

              </mat-card>
            </div>
          </form>

        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
