<div class="container">
  <div class="row">
    <div class="col s1">
      <button mat-icon-button (click)="closePanel.emit()">
          <i class="fas fa-times"></i>
      </button>
    </div>
    <div class="col s11" *ngIf="cliente">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{cliente.comercial_nombre}}</mat-card-title>
          <mat-card-subtitle>
            {{cliente.nombre}}
            {{cliente.paterno}}
            {{cliente.materno}}
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
        <mat-list role="list">
          <mat-list-item role="listitem">
            RFC: <span class="data-text"> {{cliente.RFC}} </span>
          </mat-list-item>
          <mat-list-item role="listitem">
            Email: <span class="data-text"> {{cliente.email}} </span>
          </mat-list-item>

          <mat-list-item role="listitem">
            Registrado: <span class="data-text"> {{
              date_.toDate(cliente.registrado) | date: 'dd / MMMM / yyyy - HH:mm'
            }} </span>
          </mat-list-item>
          <mat-list-item role="listitem">
            Último acceso: <span class="data-text"> {{
              date_.toDate(cliente.lastAccess) | date: 'dd / MMMM / yyyy - HH:mm'
            }} </span>
          </mat-list-item>
        </mat-list>

        <mat-grid-list cols="2" rowHeight="1:1">
          <mat-grid-tile>
            <ng-container *ngIf="cliente.INEfile.url && cliente.INEfile.format?.includes('pdf'); else ineImage">
              <pdf-viewer [src]="cliente.INEfile.url"
              [render-text]="false"
              [show-all]="false"
              style="display: block;"
              ></pdf-viewer>
            </ng-container>
            <ng-template #ineImage >
              <div class="file-image">
                <img [src]="cliente.INEfile.url">
              </div>
            </ng-template>
          </mat-grid-tile>
          <mat-grid-tile>
            <ng-container *ngIf="viewPDF(cliente.CIFfile) as PDFurl; else cifImage">
              <!-- <pdf-viewer [src]="PDFurl"
              [render-text]="true"
              style="display: block;"
              ></pdf-viewer> -->
              <a mat-button [href]="cliente.CIFfile.url" target="_blank">Descargar archivo</a>
            </ng-container>
            <ng-template #cifImage >
              <div class="file-image">
                <img [src]="cliente.CIFfile.url">
              </div>
            </ng-template>
          </mat-grid-tile>
        </mat-grid-list>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>OK</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
