/* For use in src/lib/core/theming/_palette.scss */
$cmic-primary: (
    50 : #fce1e3,
    100 : #f7b4b8,
    200 : #f18289,
    300 : #eb505a,
    400 : #e72b36,
    500 : #e30513,
    600 : #e00411,
    700 : #dc040e,
    800 : #d8030b,
    900 : #d00106,
    A100 : #fff8f8,
    A200 : #ffc5c6,
    A400 : #ff9293,
    A700 : #ff7979,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$cmic-secondary: (
    50 : #e8e8e8,
    100 : #c5c5c5,
    200 : #9e9e9e,
    300 : #777777,
    400 : #5a5959,
    500 : #3d3c3c,
    600 : #373636,
    700 : #2f2e2e,
    800 : #272727,
    900 : #1a1a1a,
    A100 : #f07474,
    A200 : #ea4646,
    A400 : #fd0000,
    A700 : #e40000,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

