/* For use in src/lib/core/theming/_palette.scss */
$cmic-primary: (
    50 : #fce1e3,
    100 : #f7b4b8,
    200 : #f18289,
    300 : #eb505a,
    400 : #ff5131,
    500 : #e30513,
    600 : #e00411,
    700 : #dc040e,
    800 : #d8030b,
    900 : #9b0000,
    A100 : #fff8f8,
    A200 : #ffc5c6,
    A400 : #ff9293,
    A700 : #ff7979,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);


$cmic-accent: (
    50 : #f9e7e3,
    100 : #f1c3b9,
    200 : #e79c8b,
    300 : #dd745d,
    400 : #d6563a,
    500 : #cf3817,
    600 : #ca3214,
    700 : #c32b11,
    800 : #bd240d,
    900 : #b21707,
    A100 : #ffdfdd,
    A200 : #ffafaa,
    A400 : #ff7f77,
    A700 : #ff675d,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #f9e7e3,
        500 : #f9e7e3,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$cmic-secondary: (
    50 : #eae5e4,
    100 : #cabfbc,
    200 : #a79490,
    300 : #846963,
    400 : #694941,
    500 : #4f2920,
    600 : #48241c,
    700 : #3f1f18,
    800 : #361913,
    900 : #260f0b,
    A100 : #ff7464,
    A200 : #ff4631,
    A400 : #fd1900,
    A700 : #e41700,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

