<g-float-menu #floatMenu></g-float-menu>
<div id="hero">
  <div class="container" strechHeight>
    <div class="row">
      <div class="col s12">
        <h1>La empresa que estás buscando, está aquí</h1>
        <h2>Contacta con las mejores empresas de Colima</h2>
      </div>
      <div class="col s12" id="botones">
        <button
        (mouseenter)="hover = true"
        (mouseleave)="hover = false"
        mat-raised-button
        [ngStyle]="{'mat-primary': hover}"
        type="button"
        (click)="onVerCatalogos()"
        >Ver catálogo</button>
        <button
        (mouseenter)="hover = true"
        (mouseleave)="hover = false"
        [ngStyle]="{'mat-primary': hover}"
        [routerLink]="['/afiliados/registro']"
        mat-raised-button>Afiliarse</button>
      </div>
    </div>
  </div>
</div>

<div id="slider">
  <gdev-slider [slidesCollection]="'sitio'"></gdev-slider>
</div>

<div id="catalogo">
  <div class="container">
    <div class="row">
    <div class="col s12">
      <h2 class="center"> Catálogo de afiliados </h2>
    </div>
  </div>
    <div class="row">
      <div class="col s12">
        <g-catalogo-nuevos [cantidad]="6"></g-catalogo-nuevos>
      </div>
    </div>
  </div>
</div>
