<div class="container">
  <div class="row">
    <ng-container  *ngFor="let afiliado of afiliados">
      <div class="col s12 m6 l4" *ngIf="afiliado.perfil && afiliado.datos_generales">
        <mat-card class="empresa-card" >
          <mat-card-header>
            <ng-container *ngIf="avatar(afiliado.perfil) as image; else initial">
              <div mat-card-avatar class="header-image"
              [ngStyle]="{'background': 'url('+image+')'}"
              ></div>
            </ng-container>
            <ng-template #initial >
              <div mat-card-avatar class="initial">
                {{afiliado.datos_generales.comercial_nombre.substring(0,1)}}
              </div>
            </ng-template>
            <!-- <img mat-card-avatar [style.background-image]="'url('+ afiliado.perfil?.imgPerfil?.url+')'" style="background-size: cover;" > -->
            <mat-card-title>
              <p class="empresa-name">
                {{afiliado.datos_generales.comercial_nombre }}
              </p>
            </mat-card-title>
            <!-- <mat-card-subtitle>subtitle</mat-card-subtitle> -->
          </mat-card-header>
          <img mat-card-image
          [src]="afiliado.perfil?.imgBanner?.url
            ? afiliado.perfil?.imgBanner?.url
            : '/assets/img/cmic-perfil-banner.jpg'"
          [alt]="afiliado.datos_generales.comercial_nombre">
          <mat-card-content>
            <p>{{afiliado.perfil?.somos | cutText:100}}</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button
            (click)="goPerfil(afiliado.datos_generales.slug)">Ver</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </ng-container>
  </div>
</div>
