<mat-dialog-content>
  <div class="row">
    <div class="col s12">
      <p class="center">Enviar correo de creación de cuenta para {{peticion.empresa.comercial_nombre}} </p>
      <p>RFC: <span class="data-text">
        {{peticion.empresa.RFC}}
      </span></p>
      <p>Email: <span class="data-text">
        {{peticion.email}}
      </span></p>
      <p>Comprobante:</p>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <ng-container *ngIf="peticion.file.format?.includes('image') ; else download">
      <mat-grid-list cols="1" rowHeight="1:1" >
        <mat-grid-tile class="file-container">
            <img [src]="peticion.file.url" [alt]="peticion.file.fileName">
          </mat-grid-tile>
        </mat-grid-list>
      </ng-container>
      <ng-template #download >
        <div class="not-image center">
          Archivo en formato "{{peticion.file.format}}" <br>
          Da click al botón para visualizar
          <br>
          <a mat-raised-button color='primary'
          [href]="peticion.file.url" download target="_blank">Descargar</a>
        </div>
      </ng-template>


    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions
style="display: flex; justify-content: space-around;">
    <button mat-raised-button
    color="accent"
    (click)="afiliados.aceptRegist(peticion.empresa.RFC, false)"
    (click)="dialog.close()"
    >Eliminar</button>
    <button mat-raised-button
    color="secondary"
    (click)="afiliados.aceptRegist(peticion.empresa.RFC, true)"
    (click)="dialog.close()"
    >Aceptar</button>
</mat-dialog-actions>
