<mat-drawer-container>
  <!-- NAVIGATION SIDEBAR -->
  <mat-drawer mode="side" [opened]="responsive.large" position="end" id="navigation-bar" mxFix [topBreak]="76" [bottomSelector]="'#footer'" >
    <div class="container" id="catalogos" mxStrechHeight>
      <div class="row">

        <div class="col s12">
          <g-perfil-actividades
          [catalogo]="{'nombre': 'Fuentes de trabajo', 'actividades': afiliado.fuentes_de_trabajo}"
          ></g-perfil-actividades>
        </div>
        <div class="col s12">
          <g-perfil-actividades
          [catalogo]="{'nombre': 'Servicios profesionales', 'actividades': afiliado.servicios_profesionales}"
          ></g-perfil-actividades>
        </div>
        <div class="col s12">
          <g-perfil-actividades
          [catalogo]="{'nombre': 'Tipos de obra', 'actividades': afiliado.tipos_de_obra}"
          ></g-perfil-actividades>
        </div>

      </div>
      <div class="row">
        <div class="col s12">
          <button mat-raised-button color='primary'
          (click)="print.downloadPDF('perfil-view')" >Descargar perfil</button>
        </div>
      </div>
    </div>

  </mat-drawer>

  <!-- PERFIL -->
  <mat-drawer-content>
    <div class="container" id="perfil-content">
      <ng-container *ngIf="responsive.large; else mobile">
        <g-perfil-desktop [afiliado]="afiliado"></g-perfil-desktop>
      </ng-container>
      <ng-template #mobile >
        <g-perfil-mobile [afiliado]="afiliado"></g-perfil-mobile>
      </ng-template>
    </div>

  </mat-drawer-content>
</mat-drawer-container>
